{% extends 'base.html' %}
<title>{% block title %}post{% endblock %}</title>
{% block content %}
<div class="container mt-3">
{% comment %} <div style="text-align: center;"> {% endcomment %}
  <h1 style=color:blue>Create Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <input type="file" name="images" multiple /> {% endcomment %}
    {% comment %} <input  class='btn btn-danger' type="submit" value="create" multiple> {% endcomment %}
    <button class='btn btn-success' type="submit">Create</button>
  </form>
  </div>
{% endblock %}
